main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem auto;
  background-color: white;
  border-radius: 0.25rem;
  padding: 2rem;
  max-width: 920px;
}

.btn {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  background-color: #e9e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

.content {
  padding: 1rem 1.5rem;
  border: 2px solid #eae6eb;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.content header {
  display: flex;
  justify-content: space-between;
}

.content p {
  color: purple;
}
